{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}


{% block body %}
    <section class="second">
        <section id="first" class="d-flex justify-content-center align-items-center container">
            <div class="row">
                <div class="col-md-6">
                    <form class="bg-black-light px-2 py-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <label class="form-group has-float-label">
                                        <input class="form-control text-light" type="text" placeholder="Dasma etc."/>
                                        <span class="text-light">Pick-up & Return location</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <label class="form-group has-float-label">
                                        <input class="form-control text-light" type="text" placeholder="January 8, 2019"/>
                                        <span class="text-light">Pick-up date</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <label class="form-group has-float-label">
                                        <input class="form-control text-light" type="text" placeholder="8:00 pm"/>
                                        <span class="text-light">Time</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <button type="submit" class="btn btn-warning btn-block">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 d-none d-sm-none d-md-block">
                    <img style="width:400px" src="http://pngimg.com/uploads/audi/audi_PNG1723.png" class="img-fluid" alt="">
                </div>
            </div>
        </section>
    </section>
    <section class="first"></section>
{% endblock %}