{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}


{% block body %}
    <section class="first">
        <section class="d-flex justify-content-center align-items-center container">
            <div class="d-none d-sm-none d-md-block" >
                <img src="http://pngimg.com/uploads/audi/audi_PNG1723.png" class="img-fluid car-displayed" alt="">
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form class="bg-black-light px-2 py-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <label class="form-group has-float-label">
                                        <input class="form-control text-light" type="text" placeholder="Dasma etc."/>
                                        <span class="text-light">Pick-up & Return location</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <label class="form-group has-float-label">
                                        <input class="form-control text-light" type="text" placeholder="January 8, 2019"/>
                                        <span class="text-light">Pick-up date</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <label class="form-group has-float-label">
                                        <input class="form-control text-light" type="text" placeholder="8:00 pm"/>
                                        <span class="text-light">Time</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group input-group">
                                    <button type="submit" class="btn btn-warning btn-block font-weight-bold">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <a id="jump-one" class="arrow arrow-animate text-warning d-none d-lg-block jump-one"><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></a>
        </section>
    </section>
    <section class="second" id="target-one">
        <section class="d-flex align-items-center container">
            <div class="row mx-1">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 bg-black-light pt-5 px-5">
                            <h2 class="text-light text-center text-lg-left" data-aos="fade">About Us</h2>
                        </div>
                        <div class="col-md-12 bg-black-light pb-5 px-5">
                            <p class="text-light text-center text-lg-left" data-aos="fade" data-aos-delay="100">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ipsum magnam
                                necessitatibus omnis, rem repellat sunt veritatis? Aliquam aliquid cum cumque
                                distinctio dolorem ex laboriosam molestias nulla odit quasi. Provident!
                            </p>
                        </div>
                        <div class="col-md-12 bg-black-light px-5">
                            <h2 class="text-light text-center text-lg-left" data-aos="fade" data-aos-delay="200">Yearly Statistics</h2>
                        </div>
                        <div class="col-md-12 bg-black-light pb-5 px-5">
                            <div class="row">
                                <div class="col text-light" data-aos="fade-up" data-aos-delay="300">
                                    <div class="text-center stats-image">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="text-center stats-count">
                                        4,257
                                    </div>
                                    <div class="text-center stats-description">
                                        Website Visitors
                                    </div>
                                </div>
                                <div class="col text-light" data-aos="fade-up" data-aos-delay="400">
                                    <div class="text-center stats-image">
                                        <i class="fas fa-hourglass-half"></i>
                                    </div>
                                    <div class="text-center stats-count">
                                        3,757
                                    </div>
                                    <div class="text-center stats-description">
                                        Reservations
                                    </div>
                                </div>
                                <div class="col text-light" data-aos="fade-up" data-aos-delay="500">
                                    <div class="text-center stats-image">
                                        <i class="fas fa-car"></i>
                                    </div>
                                    <div class="text-center stats-count">
                                        57
                                    </div>
                                    <div class="text-center stats-description">
                                        Cars
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <img src="http://pngimg.com/uploads/volvo/volvo_PNG72.png" class="img-fluid align-self-center d-none d-sm-none d-md-block" alt="" data-aos="zoom-out" data-aos-delay="600">
                </div>
            </div>
        </section>
    </section>
    <section class="third" id="target-two">
        <section class="d-flex align-items-center container">
            <div class="row mx-1">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-warning" id="showcase-title" data-aos="fade-up-right">Premium SUV</h1>
                            <p class="text-light" data-aos="fade-up-right" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos excepturi laudantium nihil
                                non praesentium ratione similique vel voluptatibus. Ab aliquam dolore expedita sint sunt? Doloremque
                                hic modi nulla quas temporibus?</p>
                        </div>
                        <div class="col-3 bg-black-light m-1" data-aos="fade" data-aos-delay="200">
                            <img src="https://www.hertzphilippines.com/wp-content/uploads/2019/06/2016_Ford_Explorer-623x299.png" class="img-fluid py-4 change-showcase-image" alt="Premium SUV">
                        </div>
                        <div class="col-3 bg-black-light m-1" data-aos="fade" data-aos-delay="200">
                            <img src="https://www.hertzphilippines.com/wp-content/uploads/2019/04/hertz-midsize-SUV-798x466.png" class="img-fluid py-4 change-showcase-image" alt="Mid-size Wagon">
                        </div>
                        <div class="col-3 bg-black-light m-1" data-aos="fade" data-aos-delay="200">
                            <img src="https://www.hertzphilippines.com/wp-content/uploads/2019/01/wigo-798x466.png" class="img-fluid py-4 change-showcase-image" alt="Mini Sedan">
                        </div>
                        <div class="col-3 bg-black-light m-1" data-aos="fade" data-aos-delay="200">
                            <img src="https://www.hertzphilippines.com/wp-content/uploads/2017/10/intermediate-sedan-798x466.png" class="img-fluid py-4 change-showcase-image" alt="Intermediate Sedan">
                        </div>
                        <div class="col-3 bg-black-light m-1" data-aos="fade" data-aos-delay="200">
                            <img src="https://www.hertzphilippines.com/wp-content/uploads/2017/09/hertz-economy-sedan-798x466.png" class="img-fluid py-4 change-showcase-image" alt="Economy Sedan">
                        </div>
                        <div class="col-3 bg-black-light m-1" data-aos="fade" data-aos-delay="200">
                            <img src="https://www.hertzphilippines.com/wp-content/uploads/2017/08/hertz-full-size-wagon-798x466.png" class="img-fluid py-4 change-showcase-image" alt="Full Size Wagon">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <img id="showcase-image" src="https://www.hertzphilippines.com/wp-content/uploads/2019/06/2016_Ford_Explorer-623x299.png" class="img-fluid align-self-center d-none d-sm-none d-md-block" alt="" data-aos="zoom-out" data-aos-delay="300">
                </div>
            </div>
        </section>
    </section>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase text-light">About Us</h5>
                    <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Asperiores atque corporis eius esse et itaque laborum magni
                        maxime nam non nostrum numquam placeat quisquam recusandae,
                        repellendus reprehenderit saepe tempore ut.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase text-light">Contact Us</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://web.facebook.com/AngryRoar" class="text-light">
                                <i class="fab fa-facebook-square text-primary"></i>&nbsp;
                                facebook.com/angryroar
                            </a>
                        </li>
                        <li>
                            <a class="text-light">
                                <i class="fas fa-phone-alt text-success"></i>&nbsp;
                                09069695164&nbsp;<small>(smart)</small>
                            </a>
                        </li>
                        <li>
                            <a class="text-light">
                                <i class="fas fa-phone-alt text-primary"></i>&nbsp;
                                09069695164&nbsp;<small>(globe)</small>
                            </a>
                        </li>
                        <li>
                            <a class="text-light">
                                <i class="fas fa-tty text-warning"></i>&nbsp;
                                22-223-2226&nbsp;<small>(landline)</small>
                            </a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase text-light">Useful Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-light">skycatalysm@gmail.com</a>
                        </li>
                        <li>
                            <a href="#!" class="text-light">facebook.com/AngryRoar/messenger</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="text-center py-3 text-warning">© 2018 Copyright:
            <a href="https://web.facebook.com/AngryRoar" class="text-light">Brian David Tabuada</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
{% endblock %}