{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}


{% block body %}
    <section class="second">
        <section id="first" class="d-flex justify-content-center align-items-center container">
            <div class="row">
                <div class="col-md-6">
                    <article class="mt-5">
                        <h1 class="text-light">Car Rental Services</h1>
                        <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, commodi culpa cum dolorem eligendi</p>
                    </article>
                </div>
                <div class="col-md-6 d-none d-sm-none d-md-block">
                    <img style="width:400px" src="http://pngimg.com/uploads/audi/audi_PNG1723.png" class="img-fluid" alt="">
                </div>
            </div>
        </section>
    </section>
    <section class="first"></section>
{% endblock %}