//custom bg
.bg-black-light{
  background-color: $main-black;
}


//changing bootstrap input color//
.form-control {
  border-color: rgba(255, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0);
}
.form-control:focus {
  border-color: rgba(255, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(255, 0, 0, 0);
}

//car displayed on first section css
.car-displayed{
  width:40rem;
  position: absolute;
  left: 45vw;
  bottom: 20vh;
}

//statistics css
.stats-image{
  font-size:2.5rem;
}
.stats-count{
  font-size:2rem;
}
.stats-description{
  font-size:1rem;
}