<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase text-light">About Us</h5>
                <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Asperiores atque corporis eius esse et itaque laborum magni
                    maxime nam non nostrum numquam placeat quisquam recusandae,
                    repellendus reprehenderit saepe tempore ut.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase text-light">Contact Us</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://web.facebook.com/AngryRoar" class="text-light">
                            <i class="fab fa-facebook-square text-primary"></i>&nbsp;
                            facebook.com/angryroar
                        </a>
                    </li>
                    <li>
                        <a href="tel:09069695164" class="text-light">
                            <i class="fas fa-phone-alt text-success"></i>&nbsp;
                            09069695164&nbsp;<small>(smart)</small>
                        </a>
                    </li>
                    <li>
                        <a href="tel:09069695164" class="text-light">
                            <i class="fas fa-phone-alt text-primary"></i>&nbsp;
                            09069695164&nbsp;<small>(globe)</small>
                        </a>
                    </li>
                    <li>
                        <a href="tel:22-223-2226" class="text-light">
                            <i class="fas fa-tty text-warning"></i>&nbsp;
                            22-223-2226&nbsp;<small>(landline)</small>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase text-light">Useful Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="mailto:skyacatalysm@gmail.com" class="text-light">skycatalysm@gmail.com</a>
                    </li>
                    <li>
                        <a href="#!" class="text-light">facebook.com/AngryRoar/messenger</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="text-center py-3 text-warning">© 2018 Copyright:
        <a href="https://web.facebook.com/AngryRoar" class="text-light">Brian David Tabuada</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->