<nav class="navbar navbar-custom navbar-expand-lg fixed-top pt-3" id="nav-bar">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="https://www.carlogos.org/logo/BMW-logo-2000-2048x2048.png" alt="BMW" class="nav-logo nav-logo-large img-fluid" id="logo">
    </a>
    <button id="nav-bg-change" class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-grip-lines"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active nav-link-jump">
                <a class="nav-link jump-one">About&nbsp;Us<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active nav-link-jump">
                <a class="nav-link jump-two">Vehicle&nbsp;Categories</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contact&nbsp;Us
                </a>
                <div class="dropdown-menu bg-black-light" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://web.facebook.com/AngryRoar">
                        <i class="fab fa-facebook-square text-primary"></i>&nbsp;
                        facebook.com/angryroar
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="tel:09069695164">
                        <i class="fas fa-phone-alt text-success"></i>&nbsp;
                        09069695164&nbsp;<small>(smart)</small>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="tel:09069695164">
                        <i class="fas fa-phone-alt text-primary"></i>&nbsp;
                        09069695164&nbsp;<small>(globe)</small>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="tel:22-223-2226">
                        <i class="fas fa-tty text-warning"></i>&nbsp;
                        22-223-2226&nbsp;<small>(landline)</small>
                    </a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">My account</button>
        </form>
    </div>
</nav>