<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app-admin-page-manager') }}
    {% endblock %}
</head>
<body>

{% block navbar %}
    {% include 'page_manager/__page_manager_nav.html.twig.html' %}
{% endblock %}

{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app-admin-page-manager') }}
{% endblock %}
</body>
</html>
